.container-fluid{
    position: relative;
    header {
        height: 105px;
        nav{
            margin-top: 35px;
            margin-right: 125px;
            text-transform: uppercase;
            ul{
                display: flex;
                li{
                    margin-left: 20px;
                    list-style: none;
                    a{
                        color: white;
                    }
                }
            }
        }
        .c-logo{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            .logo{
                position: absolute;
                z-index: 999;
                width: 230px;
                top: -34px;    
            }
        }
    background: #d90429;
    .input-group{
        background: rgba(202, 202, 202, 1);;
    }
    .lupa{
        color: #fff;
        transition: ease-in-out 0.2s;
        &:hover{
            background: #FFFFFF;
            color: #000000;
        }
    }
    
}
.carousel{
    padding: 0;
    margin: 0;
    background:#5c5858 ;
    
    .carousel-item {
        img{
            margin: 0 auto;
        }
    }
}

.titulo-product{
    margin: 5px 0px;
    margin-top: -1px;
    font-family: "Baloo Paaji 2", cursive;
    .estilo-fuente-1{
        font-size: 30px;
        font-weight: bold;
        color: #c9ff07;
    }
    .estilo-fuente-2{
        font-size: 20px;
        color: #fff;
        background: transparent;
    }
}
section{
    background: rgba(239, 35, 60, 1);
    font-family: "Baloo Paaji 2", cursive;
    
    .card-container {
        background: white;
        padding: 20px;
        margin: 10px;
        border-radius: 15px;
        box-shadow: 0px 0px 10px black;
        text-align: center;
        
        .image-card{
            width: 100px;
            border-radius: 5px;
        }
    }
    .card-img-top{
        width: 60%;
        margin: 10px auto;
    }
    .card-body{
        padding:0
    }
    .btn{
        border: 1px solid #000000;
        transition: ease-in-out 0.2s;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
       
    }
    .btn-primary{
        background: rgba(239, 35, 60, 1);
        &:hover{
            background: rgba(202, 202, 202, 1);
            color: #000000;
        }
    }
    .btn-detail{
        background: rgb(243, 202, 22);
    }
    .card{
        box-shadow: 0px 0px 5px black;
        &:hover{
            background: rgb(59, 59, 59);
            color: #fff;
            transition: ease-in-out 0.3s;
        }
    }
    .mas-vendidos{
       
    }
    .precio{
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    
    
}
#top-venta{
    background:url(/images/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 100vw;
    .contenedorcard{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      
     }
}
}



@media (max-width: 360px){
    .container-fluid{
    footer{
        margin: 0;
        padding: 0;
    }

    header{
        form{
            .search{
                margin-left: 60px;
                input{
                    width: 100%!important;
                }
            }
        }
    }
    section{
        text-align: center;
    
    }
    


    .card{
       
        .card-title{
            font-size: 14px;
            
        }     
       
    }
}
@media (max-width: 580px){
    .container-fluid header{
        height: initial;
    }
    .container-fluid header .c-logo .logo{
    position: relative;
    width: 100px;
    top: 0;
}}
