<footer class="footer row d-flex justify-content-center align-item-center">   
    <div class="footer__redes col-12 col-sm-12 col-md-12 col-lg-4 align-self-center text-center mt-2">
      <a href=""><i class="fab fa-facebook" id="fc"></i></a>
      <a href=""><i class="fab fa-twitter-square" id="twt"></i></a>
      <a href=""><i class="fab fa-instagram" id="ins"></i></a>
    </div>
    <div class="footer__logo col-4 col-sm-4 col-md-3 col-lg-1 align-self-center">
      <img src="/images/logo.png" alt="" class="img-fluid">
    </div>
    <div class="copy col-12 text-center">
      &copy; Copyright Game Over
    </div>
  </footer>