<header class="row d-flex justify-content-between">
    <div class="c-logo col-12 col-sm-4 col-md-3 col-lg-2 ">
        <a href="/">
            <img class="img-fluid logo" src="/images/logo.png" alt="logo">
        </a>
        <h1>E-commerce</h1>
    </div>
    <div class="search col-12  col-md-4 col-lg-4  align-self-center">
        <div>
            <form action="/" method="GET" style="position: relative;">
                <input type="text" name="search" class="search col-12" placeholder="BUSCADOR">
               <button type="submit"><i class="lupa fas fa-search"></i></button>
                
                <% if ( typeof resultSearch != "undefined") { %>
                    <% if (resultSearch != "") { %>
                    <div class="gamefound" >
                        <a href="/">
                            <i class="far fa-times-circle"></i>
                        </a>
                    <% resultSearch.forEach(element => { %>
                            <ul>
                                <a href="" >
                                <%=element.name  %>     
                                <img  src="/images/product-games/<%= element.image %>  " alt="Card image cap"> 
                            </a>
                            </ul>
                        <% }) %>
                    </div>
                    <% } %>
                <% } %>
            </form>
        </div>
    </div>
    <nav class="col-3">
        

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">Catalogo</a></li>
            <!--VALIDACION SI HAY UN USUARIO-->
            <% if (typeof user != "undefined") { %>
                <li>
                    <a href="/user/perfiluser">Bienvenid@:<strong style="color:yellow;"> <%= user.first_name %></strong> </a>
                    
                </li>
                
                <li><a href="/user/logout"><i class="fas fa-sign-out-alt"></i></a></li>
                <% } %>
                <% if (typeof user == "undefined") { %>
                    <li><a href="/user/login">Login</a></li>               
                    <li><a href="/user/register">Registro</a></li>
              <% } %>
                <!--VALIDACION SI HAY UN USUARIO-->
        </ul>
    </nav>
    <script> var userLoggedFront = <%- (typeof user != "undefined")?true:false %> </script>
</header>