
    <nav class="sidebar">
      <a href="/admin"><h1>PANEL ADMIN</h1></a>
      <ul>
        <h6><strong>PRODUCTOS</strong></h6>
        <li><a class="activo" href="/products/crear">Agregar</a></li>
        <li><a class="activo" href="/admin/editproducts">Editar</a></li>
        <li><a class="activo" href="/admin/borrar">Estado</a></li>
      </ul>    
      
      <ul>
        <h6><strong>CARRITO</strong></h6>
        <li><a href="/admin/listarCarts">Historial</a></li>
        <li><a href=""></a>Cerrados</li>
      </ul> 

      <ul>
        <h6><strong>USUARIOS</strong></h6>
        <li><a href="/admin/users">Editar</a></li>
        <li><a href="/admin/usersDelete">Estado</a></li>
      </ul>
      
    </nav>
 