.sidebar{
    background: #d90429;
    color:white
}

.sidebar a{
    color: white;
}

.sidebar a:active{
    color: red;
}

.sidebar a:hover{
    color: yellow;
    text-decoration: none;
}

.sidebar ul li{
    list-style: none;
}
.sidebar h1{
    margin-top: 50px;
}

h3{
    margin-top:50px;
}

.sidebar strong{
    color: yellow;
}

.sidebar {
    height: 100vh;
}

.list-group {
        margin-bottom: 60px;
    }

  
  @media (max-width: 576px) {
    .sidebar {
      width: 100%;
    }
    
  }